.header {
  padding-top: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #EFEFEF;

  &__wrapper {
    display: flex;
    justify-content: space-between;
  }

  &__left {
    display: flex;
  }

  &__logo {
    padding-top: 3px;
    padding-right: 35px;
    height: 47px;
    margin-top: 4px;
    margin-right: 35px;
    border-right: 1px solid #F4F4F4;
  }

  &__logo-link {
    font-weight: 400;
    font-size: 24px;
    line-height: 31px;
    color: #3D00B7;
    font-family: 'Integral CF';
  }

  &__navigation {
    display: flex;
  }

  &__navigation-item:not(:first-child) {
    margin-left: 45px;
  }

  &__navigation-link {
    font-weight: 700;
    font-size: 16px;
    line-height: 21px;
    color: #000000;
  }

  &__navigation-link:hover {
    color: #3D00B7;
    transition: all 0.3s;
  }

  &__search-form {
    position: relative;
  }

  &__search-input {
    width: 300px;
    height: 50px;
    background: #FFFFFF;
    border: 2px solid #EFEFEF;
    border-radius: 100px;
    padding-left: 30px;
    padding-right: 45px;
  }

  &__form-btn {
    cursor: pointer;
    border: none;
    outline: none;
    background: transparent;
    position: absolute;
    top: 11px;
    right: 14px;
  }

  &__right {
    display: flex;
  }

  &__btn {
    cursor: pointer;
    outline: none;
    background: transparent;
    border: 2px solid #3D00B7;
    border-radius: 60px;
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 100%;   
    color: #3D00B7; 
    margin-left: 16px;
  }

  &__btn:hover {
    color: #FFFFFF;
    background-color: #3D00B7;
    transition: background-color 2.5s , color 1s;
  }

  &__btn-1 {
    padding: 15px 40px;
  }

  &__btn-2 {
    padding: 15px 22px;
  }

}

