<header class="header">
  <div class="container">
    <div class="header__wrapper">
      <div class="header__left">

        <div class="header__logo">
          <a class="header__logo-link" href="#">Nfters</a>
        </div>

        <div class="header__navigation">
          <ul class="header__navigation-list">

            <li class="header__navigation-item">
              <a href="" class="header__navigation-link">Marketplace</a>
            </li>

            <li class="header__navigation-item">
              <a href="" class="header__navigation-link">Resource</a>
            </li>

            <li class="header__navigation-item">
              <a href="" class="header__navigation-link">About</a>
            </li>

          </ul>
        </div>

      </div>

      <div class="header__right">

        <div class="header__search">
          <form class="header__search-form">
            <input class="header__search-input" type="search" placeholder="Search">
            
            <button class="header__form-btn" type="submit">
              <img class="header__btn-img" src="/img/search.svg" alt="">
            </button>
          </form>
        </div>

        <div class="header__btn-wrapper">
          <button class="header__btn header__btn-1" type="submit">Upload</button>

          <button class="header__btn header__btn-2" type="submit">Connect Wallet</button>
        </div>

      </div>
    </div>
  </div>
</header>