<header class="header">
  <div class="container">
    <div class="header__wrapper">
      <div class="header__left">

        <div class="header__logo">
          <a class="header__logo-link" href="#">Nfters</a>
        </div>

        <div class="header__navigation">
          <ul class="header__navigation-list">

            <li class="header__navigation-item">
              <a href="" class="header__navigation-link">Marketplace</a>
            </li>

            <li class="header__navigation-item">
              <a href="" class="header__navigation-link">Resource</a>
            </li>

            <li class="header__navigation-item">
              <a href="" class="header__navigation-link">About</a>
            </li>

          </ul>
        </div>

      </div>

      <div class="header__right">

        <div class="header__search"></div>

        <div class="header__btn"></div>

      </div>
    </div>
  </div>
</header>