<section class="welcome">
  <div class="container">
    <div class="welcome__wrapper">

      <div class="welcome__left">

        <h3 class="welcome__h3">Discover, and collect Digital Art  NFTs</h3>
        <p class="welcome__descr">Digital marketplace for crypto collectibles and non-fungible tokens (NFTs). Buy, Sell, and discover exclusive digital assets.</p>
        <button class="welcome__btn">Explore Now</button>

        <div class="welcome__bot-wrapper">
          <div class="welcome__bot-section">
            <p class="welcome__bot-text">98k+</p>
            <p class="welcome__bot-descr">Artwork</p>
          </div>

          <div class="welcome__bot-section">
            <p class="welcome__bot-text">12k+</p>
            <p class="welcome__bot-descr">Auction</p>
          </div>

          <div class="welcome__bot-section">
            <p class="welcome__bot-text">15k+</p>
            <p class="welcome__bot-descr">Artist</p>
          </div>

          <img class="welcome-bg" src="/img/dot.svg" alt="">
        </div>
      </div>

      <div class="welcome__right">

      </div>

    </div>
  </div>
</section>